<div class="toolbar" role="banner">
  <img class="homeImg"
    width="40"
    src="../assets/img/logo.png"
    routerLink="home-screen"
  />
  <span>Product Warehouse Management System</span>
    <div class="spacer"></div>
      <a href="/categories" class="material-icons-sharp">Categories</a>
      <div class="spacer"></div>
      <a href="/products" class="material-icons-sharp">Products</a>
      <div class="spacer"></div>
      <a href="/suppliers" class="material-icons-sharp">Suppliers</a>
      <div class="spacer"></div>
      <div class="spacer"></div>
</div>

<div class="content" role="main" style="background-color: white;">
  <router-outlet></router-outlet>
</div>
<div class="content" role="main" style="width: 700px;">
<footer>
      <strong>Ejercicio 009 Lab .Net</strong>
</footer>
</div>

